
<nav class="navbar navbar-expand-lg navbar-dark bg-info head1">
    <a class="navbar-brand" href="#">
        <img [src]="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor" aria-controls="navbarColor" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <div class="dropdown">
            <a class="nav-link dropbtn" href="#" ><i>Brands</i> <span class="sr-only">(current)</span></a>
            <div class="dropdown-content">
              <a href="#">Brand1</a>
              <a href="#">Brand2</a>
              <a href="#">Brand3</a>
            </div>
          </div>
       
        </li>
       
    <li>
  <div class="dropdown">
            <a class="nav-link dropbtn" href="#" ><i>Action and Toys Figure</i> <span class="sr-only">(current)</span></a>
            <div class="dropdown-content">
                    <hr>
              <h3>Action and Toys Figure</h3>
              <hr>
              <a href="#">Bendables</a>
              <a href="#">Bobbleheads</a>
              <a href="#">Playsets</a>
              <a href="#">Props & Replicas</a>
              <a href="#">Statues</a>
              <a href="#">Maqueties & Busts</a>
              <a href="#">Toy Figures</a>
              </div>
              </div>
    </li>
             
      
        <li>
          <div class="dropdown">
            <a class="nav-link dropbtn" href="#" ><i>Baby and Toddler Toys</i> <span class="sr-only">(current)</span></a>
            <div class="dropdown-content">
                    <hr>
              <h3>Baby and Toddler Toys</h3>
              <hr>
              <a href="#">Action Play Centres</a>
              <a href="#">Baby Toys</a>
              <a href="#">Bath Toys</a>
              <a href="#">Bricks & Blocks</a>
              <a href="#">Counting Frames</a>
              <a href="#">Hammering & Nailing Toys</a>
              <a href="#">Hobbyhorses</a>
              <a href="#">Indoor Climbers & Play</a>
              <a href="#">Structures</a>
              <a href="#">Motor Activity Toys</a>
              <a href="#">Pull Along Toys</a>
              <a href="#">Rocking & Spring Ride-Ons</a>
              <a href="#">Sorting</a>
              <a href="#">Stacking & Plugging Toys</a>
              <a href="#">Sound Toys</a>
              <a href="#">Spinning & Batting Tops and Teaching Clo</a>
              </div>
            </div>
            </li>
          
        <li>
          <div class="dropdown">
            <a class="nav-link dropbtn" href="#" ><i>Bikes</i> <span class="sr-only">(current)</span></a>
            <div class="dropdown-content">
              <hr>
              <h3>Bikes</h3>
              <hr>
              <a href="#">Balance Bikes</a>
              <a href="#">Electrical Vehicles</a>
              <a href="#">Go-Carts</a>
              <a href="#">Kid's Bike and Accessories</a>
              <a href="#">Pedal Cars</a>
              <a href="#">Pull-Along Wagons</a>
              <a href="#">Push Ride-Ons & Accessories</a>
              <a href="#">RollerSkates</a>
              <a href="#">Safety Equipment</a>
              <a href="#">Scooters</a>
              <a href="#">SkateBoards</a>
              <a href="#">Tractors & Trailers</a>
              <a href="#">Trikes & Unicycles</a>
              </div>
              </div>
              </li>
              
        <li>
          <div class="dropdown">
            <a class="nav-link dropbtn" href="#" ><i>Building and Construction Toys</i> <span class="sr-only">(current)</span></a>
      </div>
          </li>
          <li>
          <div class="dropdown">
            <a class="nav-link dropbtn" href="#" ><i>More</i> <span class="caret"></span></a>
            <div class="dropdown-content">
              <hr>
              <h3>Bikes</h3>
              <hr>
              <a href="#">Balance Bikes</a>
              <a href="#">Electrical Vehicles</a>
              <a href="#">Go-Carts</a>
              <a href="#">Kid's Bike and Accessories</a>
              <a href="#">Pedal Cars</a>
              <a href="#">Pull-Along Wagons</a>
              <a href="#">Push Ride-Ons & Accessories</a>
              <a href="#">RollerSkates</a>
              <a href="#">Safety Equipment</a>
              <a href="#">Scooters</a>
              <a href="#">SkateBoards</a>
              <a href="#">Tractors & Trailers</a>
              <a href="#">Trikes & Unicycles</a>
              </div>
              </div>
              </li>
          
      </ul>
      <form class="form-inline">
      <input class="form-control" type="text" placeholder="Search">
      <button class="btn btn-secondary  my-2 my-sm-0" type="submit">Search</button>
</form>
    </div>
    
  </nav>
  <br><br><br>
  <h5>Lets your kids fall in love with play and learning.</h5>
<img [src]="image3" id="front">
<h4>Trending Products</h4>
<br><br>
<h4>What We Offer</h4>
<br>
<div class="container">
    <div class="row">
      <div class="col-md-3">
            <img [src]="image4" id="library">
            <br><br>
            <p>Smart Toy Library<p>
      </div>
      <div class="col-md-3">
        <img [src]="image5" id="demand">
        <br><br>
        <p>On Demand Availablity</p>
      </div><br>
      <div class="col-md-3">
        <img [src]="image6" id="support">
        <br><br>
        <p>TeleSupport Assistance</p>
      </div>
      <div class="col-md-3">
        <img [src]="image7" id="shipping">
        <br><br>
        <p>Free Shipping and Returns</p>
      </div>
  </div>
</div>
<br><br><br>
<h4>New Arrivals</h4>
<br>
<div class="row">
<div class="col-md-6">
<img [src]="image8" id="image8">
</div>
<div class="col-md-6">
<img [src]="image9" id="image9">
</div>
</div>
<br><br>
<h4>Top Discount Products</h4>
<br><br><br>
<div class="container">
<div class="row">
  <div class="col-md-6">
    <img [src]="image10" id="image10">
  </div>
  <div class="col-md-6">
    <img [src]="image11" id="image11">
  </div>
</div>
</div>
<div class="container">
<div class="row">
  <div class="col-md-6">
    <img [src]="image12" id="image12">
  </div>
  <div class="col-md-6">
    <img [src]="image13" id="image13">
  </div>
</div>
</div>

<br><br>
<h4>What Our Customer Say</h4>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
<p>Im very satisfied with toy express. Their services are pretty good. Variety of toys is also good enough. Customer support is also very helpful and prompt. Would want them to get more ride on toys and waive off extra charges for exclusive and special toys.</p>
            <h3>Harshal Shah</h3>
</div>
      </div>
</div>
<br>
<div class="col-md-6">
  <div class="card">
    <div class="card-body">
      <p>Best playstore company for kids and infants ..... really nice concept for rent services .....Customer support is also very helpful and prompt. Would want them to get more ride on toys and waive off extra charges for exclusive and special toys.</p>
      <h3>Abhishek Sharma</h3>
    </div>
  </div>
  </div>
</div>
</div>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-3">
<img [src]="image14" class="footer">
<br>
<h6>9toyz provides toys, utilities and books, puzzles on rental basis for a fortnight, a month, a quarter or half year depending on your needs</h6>
    </div>
    <div class="col-md-3">
      <h2>Quick Link</h2>
      <hr>
      <a href="#">How It Works</a><br>
      <a href="#">Monthly Subscription</a><br>
      <a href="#">FAQ's</a><br>
      <a href="#">Contact Us</a>

    </div>
    <div class="col-md-3">
      <h2>Quick Touch</h2>
      <hr>
      <h6>Call us</h6>
      <p>7415918988</p>
      <h6>Mail Us</h6>
      <p>shivangi.piparsania@shahsoftsol.com</p>
    </div>
    <div class="col-md-3">
      <h2>Follow Us</h2>
      <hr>
    </div>
  </div>
</div>

  